<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div style="width: 400px">
      <app-multi-date-picker [selectedDays]="selectedDays" (selectedDaysChange)="onSelectedDaysChange($event)"></app-multi-date-picker>
    </div>
  </div>
  <br>
  <div class="row justify-content-center font-weight-bold">
    Selected dates: {{ getSelectedDaysAsText() }}
  </div>
</div>